aiofiles
aiohttp
aria2p
beautifulsoup4
cfscrape
coffeehouse
covid
cryptg
emoji
googletrans
google_images_download
gtts
hachoir
heroku3
humanize
Hurry
lxml
Pillow
PyLyrics
psycopg2
pySmartDL
pip==20.1
pygithub
python-barcode
python-magic
qrcode
regex
requests
Search_engine_parser
selenium
speedtest-cli
sqlalchemy
telegraph
urbandict
Wget
wikipedia
youtube-dl
google-api-python-client
oauth2client
httplib2==0.15.0
